<div id="header-global">

  <a href="/">
    {{'general.shop.title' | t}}
  </a>

  {% include 'nav-list', handle: 'main-menu' %}

  <a href="/search">Search</a>

  {% include 'currency-picker' %}

  <a href="/cart">{{'cart.button.count_html' | t: itemCount: cart.item_count}}</a>
</div>